@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-blue-600 hover:text-blue-800 visited:text-purple-600
}

.link-sexy {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}
